<section id="about" class="bg-light">
  <div class="about-bg-img d-none d-lg-block d-md-block"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-12 col-md-8">
        <div class="about-content">
          <h5 class="subtitle">About us</h5>
          <h3>Lorem ipsum dolor sit amet <br>adipiscing elit, sed do eiusmod tempor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit ut tortor. Leo vel orci porta adipiscing.</p>

          <ul class="about-list">
            <li>
              <i class="far fa-check-circle"></i> Phasellus vestibulum
            </li>
            <li>
              <i class="far fa-check-circle"> </i> Interdum velit
            </li>

            <li>
              <i class="far fa-check-circle"> </i> Eros in cursus
            </li>
            <li>
              <i class="far fa-check-circle"> </i> Pretium fusce id velit
            </li>
            <li>
              <i class="far fa-check-circle"> </i> Tellus in hac habitasse platea
            </li>
            <li>
              <i class="far fa-check-circle"></i> Egestas erat imperdiet
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>