<div id="home" class="banner-area banner-3">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
              <div class="banner-content content-padding">
                <h5 class="subtitle">Dental Innovations India</h5>
                <h1 class="banner-title">Lorem ipsum dolor sit amet, consectetur</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit ut tortor. Leo vel orci porta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>