<section id="footer" class="section-padding">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4">
          <div class="footer-widget footer-link">
            <h4>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Dolore</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam hic non sunt recusandae atque unde saepe nihil earum voluptatibus aliquid optio suscipit nobis quia vel quod, iure quae.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="footer-widget footer-link">
            <h4>About</h4>
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="/">Service</a></li>
              <li><a href="/">Team</a></li>
              <li><a href="/">Testimonials</a></li>
              <li><a href="/">Blog</a></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-4 col-6">
          <div class="footer-widget footer-link">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="/">How it Works</a></li>
              <li><a href="/">Support</a></li>
              <li><a href="/">Privacy Policy</a></li>
              <li><a href="/">Report Bug</a></li>
              <li><a href="/">License</a></li>
              <li><a href="/">Terms & Condition</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="footer-widget footer-text">
            <h4>Our location</h4>
            <p class="mail"><span>Mail:</span> example@email.com</p>
            <p><span>Phone :</span>+1-987-652-3456</p>
            <p><span>Location:</span> 455 Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer-copy">
            Designed &amp; Developed by <a href="https://ayush-mahariya.onrender.com/">Ayush Mahariya</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  FOOTER AREA END  -->
  
     
  
      <!-- 
      Essential Scripts
      =====================================-->
  
      
      <!-- Main jQuery -->
      <script src="plugins/jquery/jquery.min.js"></script>
      <!-- Bootstrap css -->
      <script src="plugins/bootstrap/bootstrap.min.js"></script>
  
  </body>
  </html>